@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(images/background.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    position: inherit;
    background-size: cover;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    max-width: 76vw;
    margin: auto;
    padding: 11px;
    justify-content: space-between;
}

nav img {
    width: 9.25rem;
    height: 2.5rem;
    position: relative;
    z-index: 10;
    color: rgb(229, 9, 20);
    fill: currentColor;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 8px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    ;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 8px;
    background-color: #232222;
}

.btn {
    padding: 3px 8px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 5px;
    padding: 8px 18px;
    margin: 17px 9px;
}

.btn-lan {
    padding: 5px 95px;
    border: 0.2px solid #ffffff7d
}

.btn-red {
    color: #FFFFFF;
    background-color: #e60a0ae3;
    border-radius: 3px;
    border: none;
    font-size: 21px;
    padding: 16px 36px;
    
}

.btn-red-si {
    cursor: pointer;
    background-color: #f50000;
    color: #FFFFFF;
    border: none;
}

/* first section  */
.first {
    display: flex;
    max-width: 80vw;
    height: 82vh;
    margin: auto;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.sectionImg {
    position: relative;
}

.sectionImg img {
    width: 85vh;
    position: relative;
    z-index: 10;
}

.sectionImg video {
    position: absolute;
    right: 40px;
    top: 65px;
}

.first>div {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: "Martel Sans", sans-serif;
    gap: 15px;
}

.first :first-child {
    font-size: 48px;
    font-weight: 900;
}

.first>div:nth-child(1) {
    font-size: 24px;
    font-weight: 400;
}

/* SECOND SECTION  */
.second :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

/* THIRD SECTION  */
.third video {
    top: 3.1rem;
    width: 24vw;
    right: 7.2rem;
}

/* FOURTH SECTION  */
.fourth :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.feqask {
    color: #FFFFFF;
    font-family: "Martel Sans", sans-serif;
}

.feqask h2 {
    font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    margin: 71px 0 28px 0;
    font-weight: bolder;
}

.qs_box {
    background-color: #56565680;
    display: flex;
    padding: 28px;
    justify-content: space-between;
    align-items: center;
    width: 72.5vw;
    height: 4vh;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 23px;
    transition: all 1s ease-out;
}

.feqask :hover {
    background-color: #414141;
}


.restart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 0 54px 0;
}

/* FOOTER  */
footer {
    color: rgba(255, 255, 255, 0.7);
    max-width: 75vw;
    margin: auto;
    padding: 51px 0 89px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .question {
    font-size: 16px;
    padding: 11px 0 31px 0;
}

footer .netflix {
    font-size: 14px;
}

.eng {
    width: 197px;
    margin-left: 0;
    margin-top: 0px;

}
svg {
    margin: 0 0 0 -103px;
}

footer a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}